.venv/
pipe_test/data/
.cache/
pipe_test/logs/
*.pyc
**/__pycache__/
discovery_cache.json
**/results/
**/result/
pipe_test/scripts/__pycache__/__init__.cpython-36.pyc
pipe_test/scripts/__pycache__/__init__.cpython-311.pyc
pipe_test/interpro_cache.json
**/output/
*.out
*.err
**/work/
pipe_test/run_metadata_20251215.json
pipe_test/scripts/module_2_new/interpro_cache.json
