.venv/
pipe_test/data/
.cache/
pipe_test/logs/
*.pyc
**/__pycache__/
discovery_cache.json
**/results/
**/result/
pipe_test/scripts/__pycache__/__init__.cpython-36.pyc
pipe_test/scripts/__pycache__/__init__.cpython-311.pyc
pipe_test/interpro_cache.json
**/output/
*.out
*.err
**/work/
